{:deps {org.clojure/clojure            {:mvn/version "1.9.0"}
        org.clojure/clojurescript      {:mvn/version "1.9.946"}
        org.clojure/tools.analyzer.jvm {:mvn/version "0.6.10"}
        org.clojure/core.match         {:mvn/version "0.3.0-alpha5"}
        org.clojure/core.async         {:mvn/version "0.3.465"}
        org.clojure/tools.logging      {:mvn/version "0.3.1"}

        ;; Datsys things
        datspec                        {:git/url "https://github.com/theronic/datspec.git"
                                        :sha     "3e9ee35fc2a3327f30920b54527f0b106fcb059b"}

        com.stuartsierra/component     {:mvn/version "0.3.2"}
        ;; Other stuff
        datascript                     {:git/url "https://github.com/theronic/datascript.git"
                                        :sha     "250693df6c49829c054d0e38aec753c7c63fcf04"}
        ;datascript                     {:mvn/version "0.15.5"}
        io.rkn/conformity              {:mvn/version "0.4.0"}            ;; should this be here?
        com.taoensso/timbre            {:mvn/version "4.8.0"}
        prismatic/plumbing             {:mvn/version "0.5.3"}}}
